// Mobile First Design

.container {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.hero {
  min-height: 30vh;
  background: #f2e8de;

  &_left {
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #838383;

    &_date {
      margin-top: 10px;
      padding: 10px 20px;
      font-weight: 800;
      letter-spacing: 2px;
      font-size: 2rem;
      border-top: 2px solid #838383;
      width: 90%;
    }

    & > img {
      width: 80%;
      margin: 15px;
    }

    & > p {
      font-weight: bold;
      margin-left: 20px;
      font-size: 1rem;
    }
    & > .lead {
      margin-bottom: 10px;
      font-weight: 300;
      letter-spacing: 2px;
    }
    & > h1 {
      margin-left: 20px;
      font-family: "Gotham-Black", sans-serif;
      letter-spacing: 2.5px;
      font-size: 4rem;
      text-transform: uppercase;
    }
    & > h2 {
      width: 50%;
      font-family: "Gotham-Black", sans-serif;
      margin: 0px 30%;
      letter-spacing: 10px;
      font-size: 8rem;
    }
  }

  &_right {
    grid-column: 6/9;
    width: 95%;
    margin-left: 20%;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
}

.about {
  min-height: 180vh;
  background: url("../../assets/home/about.png"),
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.51));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &_card {
    min-height: 120vh;
    width: 90%;
    margin: 20px auto;
    background: rgba(242, 232, 222, 0.8);
    color: #523b3b;
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 1.7rem;
  }
}

.speakers {
  min-height: 40vh;
  & > img {
    width: 300px;
    grid-column: 1/8;
  }

  & > .speaker {
    grid-column: 1/9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 1rem;
    height: 150px;

    & > img {
      width: 90px;
      height: 90px;
      border-radius: 45px;
    }

    & > .body {
      margin: 0 1rem;
      background: #d5f3fe;
      display: flex;
      flex-direction: column;
      width: 70%;
      border-radius: 20px;
      padding: 10px 20px;

      & > h2 {
        font-size: 1.7rem;
      }

      & > p {
        margin-top: 1rem;
        font-size: 1.3rem;
      }

      & > .info_icon {
        display: flex;
        background: white;
        width: 50%;
        padding: 5px;
        margin: 5px 0;
        border-radius: 10px;
        cursor: pointer;
        & > p {
          margin-left: 10px;
        }
      }
    }
  }
}

.cta {
  height: 250px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(242, 232, 222, 0.863)
  );
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    background: #115159;
    padding: 2rem 3.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border: 4px solid transparent;
    transition: all 0.4s ease;

    &:active,
    &:hover {
      background: #ffd657;
      color: #115159;
      border: 4px solid #115159;
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    background: white;
    min-height: 48vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > img {
      margin: 1.5rem auto;
      width: 120px;
      height: 120px;
      border-radius: 60px;
    }

    & > section {
      width: 90%;

      & > h2 {
        text-align: center;
        margin-bottom: 5px;
      }
      & > p {
        font-size: 1.2rem;
      }
    }

    & > .schedule {
      margin: 2rem;
      padding: 1rem;
      background: #d5f3fe;
      border-radius: 1rem;
      min-height: 100px;
      text-align: center;

      & > h2 {
        color: black;
        font-size: 1.8rem;
      }

      & > h3 {
        font-size: 1.5rem;
      }

      & > p {
        margin: 8px auto;
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (min-width: 620px) {
  .hero {
    &_left {
      &_date {
        font-size: 2.5rem;
        width: 70%;
      }

      & > img {
        width: 70%;
      }

      & > p {
        font-weight: bold;
        margin-left: 20px;
        font-size: 1.5rem;
      }

      & > h1 {
        font-size: 7rem;
      }
      & > h2 {
        width: 90%;
        margin-left: 25%;
        font-size: 9rem;
      }
    }

    &_right {
      grid-column: 6/9;

      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .speakers {
    width: 80%;
    margin: 0 auto;
    & > img {
      width: 400px;
    }

    & > .speaker1 {
      grid-column: 1/8;
      & > .body {
        margin-left: 30px;
      }
    }

    & > .speaker2 {
      grid-column: 2/9;
      & > .body {
        margin-right: 30px;
      }
    }

    & > .speaker {
      display: flex;
      justify-content: flex-start;
      margin: 4% 1rem;

      & > img {
        width: 110px;
        height: 110px;
        border-radius: 55px;
      }

      & > .body {
        & > h2 {
          font-size: 1.6rem;
        }

        & > p {
          margin-top: 1rem;
          font-size: 1.2rem;
        }

        & > .info_icon {
          width: 40%;
        }
      }
    }
  }

  .modal_container {
    min-height: 40vh;

    & > section {
      width: 90%;

      & > h2 {
        font-size: 2.5rem;
      }
      & > p {
        font-size: 1.5rem;
      }
    }

    & > .schedule {
      padding: 1rem;
      background: #d5f3fe;
      border-radius: 1rem;
      min-height: 100px;
      text-align: center;

      & > h2 {
        color: black;
        font-size: 2.2rem;
      }

      & > h3 {
        font-size: 1.8rem;
      }

      & > p {
        margin: 8px auto;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .hero {
    &_left {
      grid-column: 1/6;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > img {
        width: 70%;
      }
      & > h2 {
        margin-left: 25%;
      }
    }

    &_right {
      grid-column: 7/9;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .about {
    min-height: 110vh;
    &_card {
      min-height: 100vh;
    }
  }

  .speakers {
    & > .speaker1 {
      grid-column: 1/7;
    }

    & > .speaker2 {
      grid-column: 3/9;
    }
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    &_left {
      grid-column: 2/6;
      height: 90vh;
      & > img {
        width: 40%;
      }
      & > h1 {
        font-size: 10rem;
      }
      & > h2 {
        font-size: 12rem;
        margin-left: 15%;
      }
      & > p {
        font-size: 2rem;
      }
    }

    &_right {
      grid-column: 7/9;
      width: 70%;
      margin-left: 30%;
      & > img {
        width: 100%;
      }
    }
  }

  .about {
    &_card {
      min-height: 80vh;
    }
  }
  .modal_container {
    min-height: 40vh;
    width: 50%;

    & > img {
      width: 180px;
      height: 180px;
      border-radius: 90px;
    }

    & > section {
      width: 90%;

      & > h2 {
        font-size: 3.2rem;
      }
      & > p {
        font-size: 2rem;
      }
    }

    & > .schedule {
      padding: 1rem;
      background: #d5f3fe;
      border-radius: 1rem;
      min-height: 100px;
      text-align: center;

      & > h2 {
        color: black;
        font-size: 2.8rem;
      }

      & > h3 {
        font-size: 2.3rem;
      }

      & > p {
        margin: 8px auto;
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .speakers {
    width: 70%;
    margin: 0 auto;
    & > img {
      width: 600px;
    }

    & > .speaker1 {
      grid-column: 1/6;
    }

    & > .speaker2 {
      grid-column: 3/9;
      justify-self: end;
    }

    & > .speaker {
      display: flex;
      justify-content: flex-start;
      margin: 3% 1rem;

      & > img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
      }

      & > .body {
        & > h2 {
          font-size: 2rem;
        }

        & > p {
          margin-top: 1rem;
          font-size: 1.6rem;
        }

        & > .info_icon {
          width: 120px;
          font-size: 1.3rem;
        }
      }
    }
  }
}
