.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster {
  max-width: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.form {
  width: 500px;
  margin: 0 auto;
  background: #fff;
}
