.container {
  margin-top: 30px;
  background: #115159;
  color: #f5e9d4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
