html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: "Rubik-Regular";
  font-family: "Poppins", sans-serif;
  height: 100%;
}

@font-face {
  font-family: "Gotham-Black";
  src: url("assets/font/Gotham_Black.otf");
}
