.hero_section {
  background-color: #f2e8de;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  text-align: center;
}

.hero_main {
  font-size: 4rem;
  font-family: "Gothic A1", sans-serif;
  font-weight: bolder;
}

.hero_sub {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 600px) {
  .hero_section {
    min-height: 20vh;
  }

  .hero_main {
    font-size: 3rem;
  }

  .hero_sub {
    font-size: 1.5rem;
  }
}

.main_container {
  background-image: url(../../assets/about_bgc.png);
  background-size: cover;
  background-position: top center;
  min-height: 60vh;
}

.body_container {
  background-color: #f2e8de;
}

.content_box {
  background: rgb(242, 232, 222, 0.4);
  width: 90vw;
  margin: 2rem auto;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  .content_box {
    font-size: 1.8rem;
  }
}
