.header {
  align-content: space-around;
  background-color: #115159;
  overflow: hidden;
}

.home_logo {
  float: left;
  width: 3rem;
  margin-left: 2.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.lbutton {
  float: right;
  margin: 1rem;
  font-family: "Poppins", sans-serif;
}

.abt_btn {
  width: 125px;
  height: 40px;
  border-radius: 50px;
  margin-right: 0.5rem;
  border-color: #ffd657;
  background-color: #115159;
  color: #ffd657;
  border-width: 5px;
  font-weight: bold;
}

.reg_btn {
  width: 125px;
  height: 40px;
  border-radius: 50px;
  background-color: #ffd657;
  color: #115159;
  font-weight: bold;
  border: none;
}

@media only screen and (max-width: 600px) {
  .home_logo {
    float: left;
    width: 2.5rem;
    margin-left: 1.5rem;
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
  }

  .abt_btn {
    width: 85px;
    height: 40px;
    margin-right: 0.5rem;
    border-width: 3px;
    font-size: 0.75rem;
  }

  .reg_btn {
    width: 90px;
    height: 40px;
    border: none;
    font-size: 0.75rem;
  }

  .lbutton {
    float: right;
    margin: 0.75rem;
  }
}

.hero_section {
  background-color: #f2e8de;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  text-align: center;
}

.hero_main {
  font-size: 40px;
  font-family: "Gothic A1", sans-serif;

  font-weight: bolder;
}

.hero_sub {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 600px) {
  .hero_section {
    min-height: 20vh;
  }

  .hero_main {
    font-size: 25px;
  }

  .hero_sub {
    font-size: 15px;
  }
}

.main_container {
  background-image: url(../../assets/about_bg.png);
  background-size: cover;
  min-height: 100vh;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  border-radius: 20px;
}

.body_container{
    background-color: #f2e8de;
}

@media only screen and (max-width: 600px) {
  .main_container {
    min-height: 100vh;
    margin-right: 0rem;
    margin-left: 0rem;
    border-radius: 0px;
  }
}

.content_box {
  background: rgb(242, 232, 222, 0.4);
  width: 90vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  padding: 1rem;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .content_box {
    font-size: 0.75rem;
    margin-left: 0rem;
  margin-right: 0rem;
  }
}
